{% extends 'base.html' %}
{% load coinanser_filter %}
{% block content %}

<html>
  <head>
    <script type="text/javascript">
      // google.charts.load('current', {'packages':['line']});
      // core chart 사용시 tooltip 변경이 자유로움 - corechart로 변경하는 부분 보류
      // google.charts.load('current', {'packages':['corechart']});
      google.charts.load('current', {'packages':['line', 'corechart']});
      google.charts.setOnLoadCallback(drawChart);

    function drawChart() {

      var data = new google.visualization.DataTable();
      data.addColumn('datetime');
      data.addColumn('number', '최고');
      data.addColumn('number', '평균');
      data.addColumn('number', '최저');

      data.addRows([
      {% for row in data_len|ranges %}
        [
          new Date("{{ date_time|get_idx:row }}"),
          {{ high_price|get_idx:row }},
          {{ mean_price|get_idx:row }},
          {{ low_price|get_idx:row }},
        ],
      {% endfor %}
      ])


      var options = {
        chart: {
          title: 'Mean price of {{ market_list|get_idx:market|get_idx:'english_name' }}',
          subtitle: '평균가격 (KRW)'
        },
        vAxis: {
          title: 'KRW (log scale)',
          format: 'decimal',
          widths: 100,
          scaleType: 'log', //
          gridlines: {count: 1.5}, //
          titleTextStyle: {italic: false}, //
          viewWindow: {
            min: {{ low_price|get_min }},
            max: {{ high_price|get_max }},
          },
        },
        hAxis: {
          format: 'yy/M/d H:mm',
          gridlines: {count: 3},
        },
        colors: ['#8B0707', '#3366CC', '#E67300'],
        series: {
          0: {
            lineWidth: 1,
            lineDashStyle: [5, 1],
          },
          1: {
            lineWidth: 3,
            lineDashStyle: 1
          },
          2: {
            lineWidth: 1,
            lineDashStyle: [5, 1],
          },
        },
        chartArea: {
          left: '10%',
          width: '75%',
          height: '90%'
        },
      };
      // var chart = new google.charts.Line(document.getElementById('linechart_material'));
      // chart.draw(data, google.charts.Line.convertOptions(options));

      // tooltip 추가 예정
      var chart = new google.visualization.LineChart(document.getElementById('linechart_material'));
      chart.draw(data, options);
    }
    </script>
  </head>
  <head>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['bar', 'corechart']});
      google.charts.setOnLoadCallback(drawStuff);

    function drawStuff() {

      var data = new google.visualization.DataTable();
      data.addColumn('datetime', 'Time');
      data.addColumn('number', '거래금액');

      data.addRows([
      {% for row in data_len|ranges %}
        [
          new Date("{{ date_time|get_idx:row }}"),
          {{ trade_price_account|get_idx:row }},
        ],
      {% endfor %}
      ])


      var options = {
        chart: {
          title: 'Trade price account of {{ market_list|get_idx:market|get_idx:'english_name' }}',
          subtitle: '거래금액 (KRW)'
        },
        vAxis: {
          title: 'KRW (log scale)',
          format: 'short',
          widths: 100,
          scaleType: 'log', //
          gridlines: { count: 1.5 }, //
          titleTextStyle: { italic: false }, //
        },
        hAxis: {
          format: 'yy/M/d H:mm',
          gridlines: { count: 3 },
        },
        chartArea: {
          left: '9.5%',
          width: '76%',
          height: '70%'
        },
        bar: { groupWidth: '100%' },
      };

      // var chart = new google.charts.Bar(document.getElementById('top_x_div'));
      // chart.draw(data, google.charts.Bar.convertOptions(options));

      // tooltip 추가 예정
      var chart = new google.visualization.ColumnChart(document.getElementById('top_x_div'));
      chart.draw(data, options);
    };
    </script>
  </head>
</html>

<div class="container my-3">
    <div class="row" style="height: 100px;">
        <div class="col" style="position: absolute; left: 5px;">
<!--            <div class="container small" style="position: absolute; bottom: 0px; left: 0px;">-->
            <span class="small">마켓명:</span><br>
            <input class="form-control market_kw"
                   style="height: 30px; width: 150px; display:inline-block;" type="text" value="{{ market_kw }}" />
            <button class="btn btn-outline-secondary btn-sm" type="button" id="mk_search"
                    style="height: 30px; width: 50px; position: absolute;">검색</button><br>
             <select class="form-control-sm market" style="height: 30px; width: 200px;">
                 {% for ml in market_list|get_keys %}
                 <option value="{{ ml }}" {% if market == ml %}selected{% endif %}>
                     {{ market_list|get_idx:ml|get_idx:'korean_name' }}
                 </option>
                 {% endfor %}
             </select>
<!--            </div>-->
        </div>

        <div class="col" style="position: absolute; left: 220px;">
            <span class="small">차트옵션:</span><br>
            <select class="form-control-sm unit" style="height: 30px; width: 100px;">
                {% for un in unit_str %}
                <option value="{{ un }}" {% if unit == un %}selected{% endif %}>
                    {{ unit_str|get_idx:un }}
                </option>
                {% endfor %}
            </select><br>
            <select class="form-control-sm show_count" style="height: 30px; width: 100px;">
                {% for sc in show_count_str %}
                <option value="{{ sc }}" {% if show_count == sc %}selected{% endif %}>
                    {{ show_count_str|get_idx:sc }}
                </option>
                {% endfor %}
            </select>
        </div>

        <div class="col-3" style="position: absolute; right: 5px;">
<!--            <div class="container small" style="display: flex;">-->
<!--                <p style="width: 20%;">기준시각:</p>-->
<!--                <input class="form-control datetime" style="height: 20px; width: 150px;" type="text" value="{{ endtime }}" />-->

                <span class="small">기준시각:</span>
                <input class="form-control datetime" style="height: 30px; width: 150px;" type="text" value="{{ endtime }}" />
                <form name="currentForm" method="get" action="">
                    <input type="hidden" name="market_kw" value="{{ market_kw }}">
                    <input type="hidden" name="market" value="{{ market }}">
                    <input type="hidden" name="unit" value="{{ unit }}">
                    <input type="hidden" name="show_count" value="{{ show_count }}">
                    <button type="submit" class="btn btn-outline-secondary btn-sm" style="width: 150px;">현재시각</button>
                </form>

        </div>
    </div>
</div>

<div class="container my-3">
    <div class="row justify-content-between">
        <span>Mean price of {{ market_list|get_idx:market|get_idx:'english_name' }}</span>
        <span class="small">마지막 거래시각: {{ date_time_last }} &nbsp;</span>
        <div id="linechart_material" style="width: 100%; height: 400px"></div>
    </div>
    <br>
    <div class="row justify-content-between my-3">
        <span>Trade price account of {{ market_list|get_idx:market|get_idx:'english_name' }}</span>
        <div id="top_x_div" style="width: 100%; height: 150px"></div>
    </div>
</div>

<form id="searchForm" method="get" action="{% url 'coinanser:market_data' %}">
    <input type="hidden" id="market_kw" name="market_kw" value="{{ market_kw }}">
    <input type="hidden" id="market" name="market" value="{{ market }}">
    <input type="hidden" id="unit" name="unit" value="{{ unit }}">
    <input type="hidden" id="show_count" name="show_count" value="{{ show_count }}">
    <input type="hidden" id="endtime" name="endtime" value="{{ endtime }}">
</form>

{% endblock %}
{% block script %}

<script type='text/javascript'>
$(document).ready(function(){
    $("#mk_search").on('click', function() {
        $("#market_kw").val($(".market_kw").val());
        $("#searchForm").submit();
    });

    $(".market").on('change', function() {
        $("#market").val($(this).val());
        $("#searchForm").submit();
    });

    $(".unit").on('change', function() {
        $("#unit").val($(this).val());
        $("#searchForm").submit();
    });

    $(".show_count").on('change', function() {
        $("#show_count").val($(this).val());
        $("#searchForm").submit();
    });

    $(".datetime").datetimepicker().on('change', function() {
        $("#endtime").val($(this).val());
        $("#searchForm").submit();
    });

});
</script>
{% endblock %}

