{% extends 'base.html' %}
{% load coinanser_filter %}
{% block content %}
<html>
  <head>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['line']});
      // core chart 사용시 tooltip 변경이 자유로움 - corechart로 변경하는 부분 보류
      // google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

    function drawChart() {

      var data = new google.visualization.DataTable();
      data.addColumn('datetime');
      // data.addColumn('number', 'A');
      data.addColumn('number', '{{ market }}');

      data.addRows([
      {% for row in data_len|ranges %}
        [
          new Date("{{ date_time|get_idx:row }}"),
          {{ mean_price|get_idx:row }},
        ],
      {% endfor %}
      ])


      var options = {
        chart: {
          title: 'Mean price of {{ market_list|get_idx:market|get_idx:'english_name' }}',
          subtitle: '평균가격 (KRW)'
        },
        vAxis: {
          title: 'KRW',
          format: 'decimal',
        },
        hAxis: {
          format: 'yy/M/d H:mm',
          gridlines: {count: 10},
        },
      };
      var chart = new google.charts.Line(document.getElementById('linechart_material'));
      chart.draw(data, google.charts.Line.convertOptions(options));

      // tooltip 사용시
      // var chart = new google.visualization.LineChart(document.getElementById('linechart_material'));
      // chart.draw(data, options);
    }
    </script>
  </head>
  <head>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['bar']});
      google.charts.setOnLoadCallback(drawStuff);

    function drawStuff() {

      var data = new google.visualization.DataTable();
      data.addColumn('datetime', 'Time');
      data.addColumn('number', '{{ market }}');

      data.addRows([
      {% for row in data_len|ranges %}
        [
          new Date("{{ date_time|get_idx:row }}"),
          {{ trade_price|get_idx:row }},
        ],
      {% endfor %}
      ])


      var options = {
        chart: {
          title: 'Trade price account of {{ market_list|get_idx:market|get_idx:'english_name' }}',
          subtitle: '거래금액 (KRW)'
        },
        vAxis: {
          title: 'KRW',
          format: 'decimal',
        },
        hAxis: {
          format: 'yy/M/d H:mm',
          gridlines: {count: 10}
        },
        bar: {groupWidth: '99%'},
      };

      var chart = new google.charts.Bar(document.getElementById('top_x_div'));
      chart.draw(data, google.charts.Bar.convertOptions(options));
    };
    </script>
  </head>
</html>
<div class="container my-3">
    <div class="row justify-content-start my-3">
        <div class="col-3">
            <select class="form-control market">
                {% for ml in market_list|get_keys %}
                <option value="{{ ml }}" {% if market == ml %}selected{% endif %}>
                    {{ market_list|get_idx:ml|get_idx:'korean_name' }}
                </option>
                {% endfor %}
            </select>
        </div>
        <div class="col-1.5">
            <select class="form-control unit">
                {% for un in unit_str %}
                <option value="{{ un }}" {% if unit == un %}selected{% endif %}>
                    {{ unit_str|get_idx:un }}
                </option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div id="linechart_material" style="width: 100%; height: 500px"></div>
    <br><br><br>
    <div id="top_x_div" style="width: 100%; height: 210px"></div>
<!--    test-->
<!--    {{ market_list|get_idx:'KRW-BTC'|get_idx:'korean_name' }}-->
<!--    {{ market_list|get_keys }}-->
</div>
<form id="searchForm" method="get" action="{% url 'coinanser:market_data' %}">
    <input type="hidden" id="market" name="market" value="{{ market }}">
    <input type="hidden" id="unit" name="unit" value="{{ unit }}">
</form>
{% endblock %}
{% block script %}
<script type='text/javascript'>
$(document).ready(function(){
    $(".market").on('change', function() {
        $("#market").val($(this).val());
        $("#searchForm").submit();
    });
    $(".unit").on('change', function() {
        $("#unit").val($(this).val());
        $("#searchForm").submit();
    });
});
</script>
{% endblock %}


